<div class="text-center p-2 pt-5 font-weight-bold">{{action}}  Package</div>
 
<form [formGroup]="userPackageForm" class="offset-4 col-md-4 col-sm-7 d-flex flex-column pt-5 " autocomplete="off">



    <mat-form-field>
        <mat-label>Insurance Category</mat-label>
        <mat-select required formControlName="category" [compareWith]="compareObjects">
          <mat-option *ngFor="let category of categories" [value]="category._id" (click)="selectedCategory(category.name)" >
            {{category.name}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Insurance Provider</mat-label>
        <mat-select required formControlName="insurer"  [compareWith]="compareObjects">
          <mat-option *ngFor="let insurer of insurers" [value]="insurer._id" (click)="selectedInsurance(insurer._id,insurer.name)">
            {{insurer.name}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Package</mat-label>
        <mat-select required formControlName="package" [compareWith]="compareObjects">
          <mat-option *ngFor="let package of packages" [value]="package._id" (click)="selectedPackage(package.name)">
            {{package.name}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="activeFrom" placeholder="Active From" formControlName="activeFrom">
        <mat-datepicker-toggle matSuffix [for]="activeFrom"></mat-datepicker-toggle>
        <mat-datepicker #activeFrom></mat-datepicker>
</mat-form-field>
<mat-form-field class="example-full-width">
    <input matInput [matDatepicker]="activeTo" placeholder="Active To" formControlName="activeTo">
    <mat-datepicker-toggle matSuffix [for]="activeTo"></mat-datepicker-toggle>
    <mat-datepicker #activeTo></mat-datepicker>
</mat-form-field>
</form>
<div class="offset-md-7 pl-5 pt-3">
    <button type="submit" class="btn btn-dark mr-1" (click)="cancel()">Cancel</button>
    <button type="submit" class="btn btn-dark" [disabled]="!userPackageForm.valid" (click)="save(userPackage._id)">Save</button>
</div> 