<app-contact></app-contact>

<div class="container">
    <div class="text-center font-weight-bold">Claim Details</div>
    <div class="row mt-4">
        <div class="col-lg-2 h6">Package Name: </div>
        <div class="col-lg-2">{{claim.packageName}}</div>
    </div>
    <div class="row mt-1">
        <div class="col-lg-2 h6">Purpose: </div>
        <div class="col-lg-2">{{claim.disease}}</div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-2 h6">Hospital: </div>
        <div class="col-lg-2">{{claim.hospital}}</div>
    </div>
    <div class="row mt-1">
        <div class="col-lg-2 h6">Location: </div>
        <div class="col-lg-2">{{claim.location}}</div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-2 h6">Date of Surgery: </div>
        <div class="col-lg-2">{{claim.dateOfSurgery|date}}</div>
    </div>
</div>