<div class="container p-4">
<mat-tab-group>
<mat-tab label="Insurers">
        <div class="container p-3">
        <div class="text-right pb-3">
                <button type="button" class="btn btn-dark" (click)="addInsurer()">
                        <i class="fa fa-plus pr-1" aria-hidden="true"></i>Add Insurer
                </button>
        </div>
        <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort>
                                <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                <td mat-cell *matCellDef="let insurer"> {{insurer.name}} </td>
                                </ng-container>
                                <ng-container matColumnDef="location">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
                                <td mat-cell *matCellDef="let insurer"> {{insurer.location}} </td>
                                </ng-container>
                                <ng-container matColumnDef="pointOfContact">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Point of contact Name&Phone </th>
                                <td mat-cell *matCellDef="let insurer" [style.color]="insurer.pointOfContact[0].name"> 
                                        {{insurer.pointOfContact[0].name}} <br>{{insurer.pointOfContact[0].phone}}
                                </td>
                                </ng-container>
                        
                                <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                                        <td mat-cell *matCellDef="let insurer">
                                                <i class="fa fa-pencil pr-3" (click)="editInsurer(insurer,insurer._id)"></i>
                                        <i class="fa fa-trash-o" (click)="deleteInsurer(insurer._id)"></i>
                                                </td>
                                        <!-- <mat-cell *matCellDef="let row">
                                                <i class="fa fa-pencil"></i>
                                                <i class="fa fa-trash-o"></i>
                                        </mat-cell> -->
                                        </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let insurer; columns: displayedColumns;">
                                </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        </div>
        </div>
</mat-tab>
<mat-tab label="Packages"> 
<app-packages></app-packages>
</mat-tab>
</mat-tab-group>
</div>