@media only screen and (min-width:769px) {
    .menu_text {
        display: none;
    }
    .menu_icon {
        display: block;
    }
}

@media only screen and (max-width:768px) {
    .menu_text {
        display: block;
    }
    .menu_icon {
        display: none;
    }
}

.modal-contactUs {
    width: 170% !important;
    right: 35% !important;
}

.notifications {
    top: 150% !important;
    min-width: 25rem !important;
    min-height: 100px !important;
    max-height: 400px !important;
    overflow: auto;
    border: none !important;
}

.notificationDetail {
    cursor: pointer;
    padding: 10px;
}

td.mat-cell {
    border-bottom-style: none;
}

th.mat-header-cell {
    border-bottom-style: none;
}


/* width */

::-webkit-scrollbar {
    width: 2px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px none;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 5px;
    background: lightgrey;
}