<!-- <div class="h5 m-3"> {{greeting}} {{user.firstName|titlecase}}! Welcome to your dashboard..</div> -->

<!-- IF LOGGED IN AS USER -->
<div class="row m-0" *ngIf="user.userrole == 'user'">
    <div class="col-lg-6 col-md-6 col-sm-12 FixedHeightContainer modal-content modal-border mt-3 mb-3">
        <div class="modal-header modal-dashboard" style="background-color: #ffffb3;">
            <div class="popup-heading"> Current Packages</div>
            <a *ngIf="userHasClaims" class="pull-right" routerLink="/home/mypackages" routerLinkActive="active">View All</a>
        </div>
        <div class="modal-body Content" style="border: 1px solid #ffffb3;">
            <div class="mb-2" style="cursor: pointer;" *ngFor="let package of userPackage">
                <mat-card class="cardHover">
                    <div class="row" *ngIf="userHasPackages">
                        <div class="row col text-left">
                            <div class="col-lg-6 col-sm-6 col-xs-4 mt-6">
                                <span class="cardHeading"> {{package.packageName}}</span>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-4 mt-6">
                                <span class="cardStatus"> Status - 
                                <span *ngIf="currentDate <= package.activeTo"> Active </span>
                                <span *ngIf="currentDate > package.activeTo"> Expired </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="userHasClaims">
                        <div class="row col text-left">
                            <div class="col-lg-3 col-sm-3 col-xs-3 mt-3">
                                <div class="lbl-view-text"> Insurance Provider </div>
                                <div class="lbl-view-value"> {{package.insurerName}} </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-xs-3 mt-3">
                                <div class="lbl-view-text"> Active From </div>
                                <div class="lbl-view-value"> {{package.activeFrom | date}} </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-xs-3 mt-3">
                                <div class="lbl-view-text"> Active To </div>
                                <div class="lbl-view-value"> {{package.activeTo | date}} </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
                <!-- <hr> -->
            </div>
            <div class="row m-0" *ngIf="!userHasPackages">
                <div class="m-1">You do not have any Packages added.<br> <a style="cursor: pointer;" class="h6" (click)="addPackage()">Click here</a> to add a package</div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 FixedHeightContainer modal-content modal-border mt-3 mb-3">
        <div class="modal-header modal-dashboard" style="background-color: #9efa9e;">
            <div class="popup-heading"> Active Claims</div>
            <a *ngIf="userHasClaims" class="pull-right" routerLink="/home/myclaims">View All</a>
        </div>
        <div class="modal-body Content" style="border: 1px solid #9efa9e;">
            <div *ngFor="let claim of userClaims">
                <div class="row" *ngIf="userHasClaims">
                    <div class="row col text-left">
                        <div class="col-lg-6 col-sm-6 col-xs-4 mt-6">
                            <span class="cardHeading"> {{claim.packageName}}</span>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-4 mt-6">
                            <!-- <span class="cardStatus"> Status - {{ claim.status }}</span> -->
                            <div class='cardStatus' appStatusCode [status]="claim.status" data-toggle="dropdown">Status - {{claim.status}} &nbsp;
                                <i class="fa fa-info-circle"></i>
                            </div>
                            <div class="dropdown-menu dropdown-menu-right dropdown-tooltip">
                                <div class="pr-2 pl-2">
                                    <span *ngIf="claim.comments && claim.comments != ' '">{{claim.comments}}</span>
                                    <span *ngIf="!claim.comments || claim.comments == ' '">No comments available</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="userHasClaims">
                    <div class="row col text-left">
                        <div class="col-lg-3 col-sm-3 col-xs-3 mt-3">
                            <div class="lbl-view-text"> Date of Surgery </div>
                            <div class="lbl-view-value"> {{claim.dateOfSurgery | date}} </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-3 mt-3">
                            <div class="lbl-view-text"> Purpose </div>
                            <div class="lbl-view-value"> {{claim.disease}} </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-xs-3 mt-3">
                            <div class="lbl-view-text"> Hospital </div>
                            <div class="lbl-view-value"> {{claim.hospital}} </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="row m-0" *ngIf="!userHasClaims">
                <div class="m-1">You do not have any active claims.<br> <a style="cursor: pointer;" class="h6" (click)="addClaim()">Click here</a> to add a new claim</div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 FixedHeightContainer modal-content modal-border mt-3 mb-3">
        <div class="modal-header modal-dashboard" style="background-color: #9ee3fa;">
            <div class="popup-heading">Notifications</div>
        </div>
        <div class="modal-body Content" style="border: 1px solid #9ee3fa;">
            <div *ngFor="let notification of notifications">
                <div (click)="notificationDetails(notification)" appNotification [verified]="notification.verified">
                    {{notification.comments}}
                    <span class="pull-right" style="font-size: smaller; color: lightgray;"> - {{ notification.createDate|date }}</span>
                </div>
                <hr>
            </div>
            <div class="row m-0" *ngIf="!userHasNotifications">
                <div class="mt-1"> No new notifications</div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 FixedHeightContainer modal-content modal-border mt-3 mb-3">
        <div class="modal-header modal-dashboard " style="background-color: #fcc7b6;">
            <div class="popup-heading">Notifications</div>
        </div>
        <div class="modal-body Content" style="border: 1px solid #fcc7b6;">
            <div class="mb-2" style="cursor: pointer;" *ngFor="let notification of notifications" (click)="notificationDetails(notification)" appNotification [verified]="notification.verified">
                <mat-card class="cardHover">{{notification.comments}}
                    <div class="pull-right" style="font-size: smaller; color: lightgray;"> - {{ notification.createDate|date }}</div>
                </mat-card>
            </div>
            <div class="row m-0" *ngIf="!userHasNotifications">
                <div class="mt-1"> No new notifications</div>
            </div>
        </div>
    </div>

</div>

<!-- IF LOGGED IN AS EMPLOYEE -->
<div class="row m-0" *ngIf="user.userrole == 'employee'">
    <div class="col-lg-6 col-md-6 col-sm-12 FixedHeightContainer modal-content modal-border mt-3 mb-3">
        <div class="modal-header modal-dashboard " style="background-color: #9ee3fa;">
            <div class="popup-heading">Notifications</div>
        </div>
        <div class="modal-body Content" style="border: 1px solid #9ee3fa;">
            <div class="mb-2" style="cursor: pointer;" *ngFor="let notification of notifications" (click)="notificationDetails(notification)" appNotification [verified]="notification.verified">
                {{notification.comments}}
            </div>
            <div class="row m-0" *ngIf="!userHasNotifications">
                <div class="mt-1"> No new notifications</div>
            </div>
        </div>
    </div>
</div>

<!-- IF LOGGED IN AS POC -->
<div class="row m-0" *ngIf="user.userrole == 'poc'">
    <div class="col-lg-6 col-md-6 col-sm-12 FixedHeightContainer modal-content modal-border mt-3 mb-3">
        <div class="modal-header modal-dashboard" style="background-color: #9efa9e;">
            <div class="popup-heading"> Pending Claims</div>
        </div>
        <div class="modal-body Content " style="border: 1px solid #9efa9e;">
            <div *ngFor="let claim of userClaims " (click)="claimDetails(claim) ">
                <div class="row ">
                    <div class="col-6 text-left h5 ">{{claim.packageName}}</div>
                    <div class="col-6 text-right h5 " appStatusCode [status]="claim.status " (click)="$event.stopPropagation();setClaim(claim); ">{{claim.status}}</div>
                </div>
                <div class="row ">
                    <div class="col-6 text-left ">
                        <div style="font-size: 16px ">Date of Surgery : {{claim.dateOfSurgery | date}}</div>
                        <div style="font-size: 16px ">Purpose : {{claim.disease}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="claim" class="modal fade" id="statusDetails" #status role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 600px;">
            <div class="modal-header">
                <div class="col popup-heading">Status Details</div>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 col-md-12 col-sm-12 d-flex flex-column">
                    <div class="row">
                        <div class="col-lg-3 col-md-5 col-sm-12">Status :</div>
                        <div class="col-lg-9 col-md-7 col-sm-12">{{claim.status}}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-5 col-sm-12">Comments :</div>
                        <div class="col-lg-9 col-md-7 col-sm-12">{{claim.comments}}</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>