<!-- IF LOGGED IN AS USER -->
<div class="row m-0" *ngIf="user.userrole == 'user'">

    <!-- USER PACKAGES -->
    <div class="col-lg-6 col-md-6 col-sm-12 FixedHeightContainer modal-content modal-border mt-3 mb-3">
        <div class="modal-header modal-dashboard" style="background-color: #d7675b;">
            <div class="modal-heading"> Current Packages</div>
            <a *ngIf="userHasClaims" class="pull-right mt-2" class="popup-link" routerLink="/home/mypackages">View All</a>
        </div>
        <div class="modal-body Content" style="border: 1px solid #d7675b;">
            <div class="mb-2" style="cursor: pointer;" *ngFor="let package of userPackage">
                <mat-card class=" cardHoverPackages">
                    <div class="row" *ngIf="userHasPackages">
                        <div class="row col text-left">
                            <div class="col-lg-6 col-sm-6 col-xs-4 mt-6">
                                <span class="cardHeading" style="background-color: #d7675b;"> {{package.insurerName}} - {{package.packageName}}</span>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-4 mt-6">
                                <span class="cardStatus"> Status - 
                                <span *ngIf="currentDate <= package.activeTo"> Active </span>
                                <span *ngIf="currentDate > package.activeTo"> Expired </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="userHasPackages">
                        <div class="row col text-left">
                            <div class="col-lg-3 col-sm-3 col-xs-3 mt-3">
                                <div class="lbl-view-text"> Category </div>
                                <div class="lbl-view-value"> {{package.categoryName}} </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-xs-3 mt-3">
                                <div class="lbl-view-text"> Active From </div>
                                <div class="lbl-view-value"> {{package.activeFrom | date}} </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-xs-3 mt-3">
                                <div class="lbl-view-text"> Active To </div>
                                <div class="lbl-view-value"> {{package.activeTo | date}} </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="row m-0" *ngIf="!userHasPackages">
                <div class="m-1">You do not have any Packages added.<br> <a style="cursor: pointer;" class="h6" (click)="addPackage()">Click here</a> to add a package</div>
            </div>
        </div>
    </div>

    <!-- USER CLAIMS -->
    <div class="col-lg-6 col-md-6 col-sm-12 FixedHeightContainer modal-content modal-border mt-3 mb-3">
        <div class="modal-header modal-dashboard" style="background-color: #479860;">
            <div class="modal-heading"> Active Claims</div>
            <a *ngIf="userHasClaims" class="pull-right" class="popup-link" routerLink="/home/myclaims">View All</a>
        </div>
        <div class="modal-body Content" style="border: 1px solid #479860;">
            <div class="mb-2" style="cursor: pointer;" *ngFor="let claim of userClaims">
                <mat-card class=" cardHoverClaims">
                    <div class="row" *ngIf="userHasClaims">
                        <div class="row col text-left">
                            <div class="col-lg-6 col-sm-6 col-xs-4 mt-6">
                                <span class="cardHeading" style="background-color: #479860;"> {{claim.insurerName}} - {{claim.packageName}}</span>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-4 mt-6">
                                <div class='cardStatus' appStatusCode [status]="claim.status" data-toggle="dropdown">Status - {{claim.status}} &nbsp;
                                    <i class="fa fa-info-circle"></i>
                                </div>
                                <div class="dropdown-menu dropdown-menu-right dropdown-tooltip">
                                    <div class="pr-2 pl-2">
                                        <span *ngIf="claim.comments && claim.comments != ' '">{{claim.comments}}</span>
                                        <span *ngIf="!claim.comments || claim.comments == ' '">No comments available</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="userHasClaims">
                        <div class="row col text-left">
                            <div class="col-lg-3 col-sm-3 col-xs-3 mt-3">
                                <div class="lbl-view-text"> Category </div>
                                <div class="lbl-view-value"> {{claim.categoryName}} </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-xs-3 mt-3">
                                <div class="lbl-view-text"> Date of Surgery </div>
                                <div class="lbl-view-value"> {{claim.dateOfSurgery | date}} </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-xs-3 mt-3">
                                <div class="lbl-view-text"> Purpose </div>
                                <div class="lbl-view-value"> {{claim.disease}} </div>
                            </div>
                            <div class="col-lg-3 col-sm-3 col-xs-3 mt-3">
                                <div class="lbl-view-text"> Hospital </div>
                                <div class="lbl-view-value"> {{claim.hospital}} </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="row m-0" *ngIf="!userHasClaims">
                <div class="m-1">You do not have any active claims.<br> <a style="cursor: pointer;" class="h6" (click)="addClaim()">Click here</a> to add a new claim</div>
            </div>
        </div>
    </div>

    <!-- USER NOTIFICATIONS -->
    <!-- <div class="col-lg-6 col-md-6 col-sm-12 FixedHeightContainer modal-content modal-border mt-3 mb-3">
        <div class="modal-header modal-dashboard" style="background-color: #ffffb3;">
            <div class="modal-heading">Notifications</div>
        </div>
        <div class="modal-body Content" style="border: 1px solid #ffffb3;">
            <div *ngFor="let notification of notifications">
                <div (click)="notificationDetails(notification)" appNotification [verified]="notification.verified">
                    {{notification.comments}}
                    <span class="pull-right" style="font-size: smaller; color: lightgray;"> - {{ notification.createDate|date }}</span>
                </div>
                <hr>
            </div>
            <div class="row m-0" *ngIf="!userHasNotifications">
                <div class="mt-1"> No new notifications</div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 FixedHeightContainer modal-content modal-border mt-3 mb-3">
        <div class="modal-header modal-dashboard " style="background-color: #fcc7b6;">
            <div class="modal-heading">Notifications</div>
        </div>
        <div class="modal-body Content" style="border: 1px solid #fcc7b6;">
            <div class="mb-2" style="cursor: pointer;" *ngFor="let notification of notifications" (click)="notificationDetails(notification)" appNotification [verified]="notification.verified">
                <mat-card class=" cardHover">{{notification.comments}}
                    <div class="pull-right" style="font-size: smaller; color: lightgray;"> - {{ notification.createDate|date }}</div>
                </mat-card>
            </div>
            <div class="row m-0" *ngIf="!userHasNotifications">
                <div class="mt-1"> No new notifications</div>
            </div>
        </div>
    </div> -->
</div>

<!-- IF LOGGED IN AS EMPLOYEE -->
<div class="row m-0" *ngIf="user.userrole == 'employee'">
    <!-- EMPLOYEE NOTIFICATIONS -->
    <div class="col-lg-6 col-md-6 col-sm-12 FixedHeightContainer modal-content modal-border mt-3 mb-3">
        <div class="modal-header modal-dashboard " style="background-color: #A85F7C;">
            <div class="modal-heading">Notifications</div>
        </div>
        <div class="modal-body Content" style="border: 1px solid #A85F7C;">
            <div class="mb-2" style="cursor: pointer;" *ngFor="let notification of notifications" (click)="notificationDetails(notification)" appNotification [verified]="notification.verified">
                <mat-card class=" cardHoverNotifcations">{{notification.comments}}
                    <div class="pull-right" style="font-size: smaller; color: lightgray;"> - {{ notification.createDate|date }}</div>
                </mat-card>
            </div>
            <div class="row m-0" *ngIf="!userHasNotifications">
                <div class="mt-1"> No new notifications</div>
            </div>
        </div>
    </div>
</div>

<!-- IF LOGGED IN AS POC -->
<div class="row m-0" *ngIf="user.userrole == 'poc'">
    <!-- POC NOTIFICATIONS -->
    <div class="col-lg-6 col-md-6 col-sm-12 FixedHeightContainer modal-content modal-border mt-3 mb-3">
        <div class="modal-header modal-dashboard" style="background-color: #439F76;">
            <div class="modal-heading"> Pending Claims</div>
            <!-- <a *ngIf="userHasClaims" class="pull-right mt-1" style="font-size: small; color: #3D5F82" routerLink="/home/myclaims">View All</a> -->
        </div>
        <div class="modal-body Content" style="border: 1px solid #439F76;">
            <div class="mb-2" style="cursor: pointer;" *ngFor="let claim of userClaims" (click)="claimDetails(claim)">
                <mat-card class=" cardHover">
                    <div class="row">
                        <div class="row col text-left">
                            <div class="col-lg-6 col-sm-6 col-xs-4 mt-6">
                                <span class="cardHeading" style="background-color: #439F76;"> {{claim.packageName}}</span>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-xs-4 mt-6">
                                <div class='cardStatus' appStatusCode [status]="claim.status" data-toggle="dropdown">Status - {{claim.status}} &nbsp;
                                    <i class="fa fa-info-circle"></i>
                                </div>
                                <div class="dropdown-menu dropdown-menu-right dropdown-tooltip">
                                    <div class="pr-2 pl-2">
                                        <span *ngIf="claim.comments && claim.comments != ' '">{{claim.comments}}</span>
                                        <span *ngIf="!claim.comments || claim.comments == ' '">No comments available</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row col text-left">
                            <div class="col-lg-4 col-sm-4 col-xs-4 mt-3">
                                <div class="lbl-view-text"> Date of Surgery </div>
                                <div class="lbl-view-value"> {{claim.dateOfSurgery | date}} </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-4 mt-3">
                                <div class="lbl-view-text"> Purpose </div>
                                <div class="lbl-view-value"> {{claim.disease}} </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-4 mt-3">
                                <div class="lbl-view-text"> Hospital </div>
                                <div class="lbl-view-value"> {{claim.hospital}} </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<!-- IF LOGGED IN AS ADMIN -->
<div class="row m-0" *ngIf="user.userrole == 'admin'">
    <mat-card class="col-lg-2 col-md-3 col-sm-4 col-xs-6 mat-elevation-z4 m-2" style="border-left: 3px solid #439F76;">
        <div class="card-label">Total Claims</div>
        <div class="card-value mt-3" style="color: #439F76;">
            <i class="fa fa-file-text fa-xl mr-3" aria-hidden="true"></i> {{ claimsCount | number }}
        </div>
    </mat-card>
    <mat-card class="col-lg-2 col-md-3 col-sm-4 col-xs-6 mat-elevation-z4 m-2" style="border-left: 3px solid #A85F7C;">
        <div class="card-label">Registered Users</div>
        <div class="card-value mt-3" style="color: #A85F7C;">
            <i class="fa fa-users fa-xl mr-3" aria-hidden="true"></i> {{ usersCount | number }}
        </div>
    </mat-card>
    <mat-card class="col-lg-2 col-md-3 col-sm-4 col-xs-6 mat-elevation-z4 m-2" style="border-left: 3px solid #D7675B;">
        <div class="card-label">Total Employees</div>
        <div class="card-value mt-3" style="color: #D7675B;">
            <i class="fa fa-id-badge fa-xl mr-3" aria-hidden="true"></i> {{ employeesCount | number }}
        </div>
    </mat-card>
    <mat-card class="col-lg-2 col-md-3 col-sm-4 col-xs-6 mat-elevation-z4 m-2" style="border-left: 3px solid #3D5F82;">
        <div class="card-label">Hospital Point of Contacts</div>
        <div class="card-value mt-3" style="color: #3D5F82;">
            <i class="fa fa-user-circle fa-xl mr-3" aria-hidden="true"></i> {{ hospitalPocsCount | number }}
        </div>
    </mat-card>
    <mat-card class="col-lg-2 col-md-3 col-sm-4 col-xs-6 mat-elevation-z4 m-2" style="border-left: 3px solid #439F76;">
        <div class="card-label">Network Hospitals</div>
        <div class="card-value mt-3" style="color: #439F76;">
            <i class="fa fa-hospital-o fa-xl mr-3" aria-hidden="true"></i> {{ hospitalsCount | number }}
        </div>
    </mat-card>
    <mat-card class="col-lg-2 col-md-3 col-sm-4 col-xs-6 mat-elevation-z4 m-2" style="border-left: 3px solid #A85F7C;">
        <div class="card-label">Total Packages Supported</div>
        <div class="card-value mt-3" style="color: #A85F7C;">
            <i class="fa fa-suitcase fa-xl mr-3" aria-hidden="true"></i> {{ packagesCount | number }}
        </div>
    </mat-card>
</div>

<!-- <div *ngIf="claim" class="modal fade" id="statusDetails" #status role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 600px;">
            <div class="modal-header">
                <div class="col modal-heading">Status Details</div>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 col-md-12 col-sm-12 d-flex flex-column">
                    <div class="row">
                        <div class="col-lg-3 col-md-5 col-sm-12">Status :</div>
                        <div class="col-lg-9 col-md-7 col-sm-12">{{claim.status}}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-5 col-sm-12">Comments :</div>
                        <div class="col-lg-9 col-md-7 col-sm-12">{{claim.comments}}</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->