<div class="container pt-5">
    
    <div class="text-center font-weight-bold">Package Details</div>
    <div class="row pt-5">
        <div class="col-6 text-right font-weight-bold">Package Name</div>
        <div class="col-5 text-left">{{package.name}}</div>
    </div>
    <div class="row pt-3">
        <div class="col-6 text-right font-weight-bold">Insurer</div>
        <div class="col-5 text-left">{{package.insProvider}}</div>
    </div>
    <div class="row pt-3">
        <div class="col-6 text-right font-weight-bold">Category</div>
        <div class="col-5 text-left">{{package.insCategory}}</div>
    </div>
    <div class="row pt-3">
        <div class="col-6 text-right font-weight-bold">Maximum Number of People Covered</div>
        <div class="col-5 text-left">{{package.maxNoOfMembersCovered}}</div>
    </div>
    <div class="row pt-3">
        <div class="col-6 text-right font-weight-bold">Premium</div>
        <div class="col-5 text-left">{{package.premiumAmnt}}</div>
    </div>
    <div class="row pt-3">
        <div class="col-6 text-right font-weight-bold">Documents Needed to claim</div>
        <div class="col-5 text-left">{{package.requiredDocs}}</div>
    </div>
</div>