<div class="container pt-3">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-none breadcrumb-style">
                <li class="breadcrumb-item"><a class="breadcrumb-back" (click)="cancel()">My Packages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Package Details of {{package.name}} </li>
            </ol>
        </nav>
    </div>
    <div class="row mt-3">
        <div class="col-lg-2 h6">Insurer: </div>
        <div class="col-lg-2">{{package.insProvider}}</div>
    </div>
    <div class="row mt-1">
        <div class="col-lg-2 h6">Category: </div>
        <div class="col-lg-2">{{package.insCategory}}</div>
    </div>
    <div class="row mt-1">
        <div class="col-lg-2 h6">Max People Covered: </div>
        <div class="col-lg-2">{{package.maxNoOfMembersCovered}}</div>
    </div>
    <div class="row mt-1">
        <div class="col-lg-2 h6">Premium: </div>
        <div class="col-lg-2">{{package.premiumAmnt}}</div>
    </div>
    <div class="row mt-1">
        <div class="col-lg-2 h6">Required Docs: </div>
        <div class="col-lg-2">{{package.requiredDocs}}</div>
    </div>

</div>