<app-navbar></app-navbar>

<div *ngIf="user" class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-none breadcrumb-style">
                <li class="breadcrumb-item active" aria-current="page">Profile </li>
            </ol>
        </nav>
        <div class="col text-right">
            <button type="submit" class="btn btn-light mt-1" (click)="editUser(user)">
                <i class="fa fa-icon fa-pencil" aria-hidden="true"></i>&nbsp;Edit
            </button>
        </div>
    </div>

    <form class="row" autocomplete="off">
        <div class="col-md-6 col-sm-7 d-flex flex-column">
            <mat-form-field><input matInput placeholder="First Name" value={{user.firstName}} readonly></mat-form-field>
            <mat-form-field><input matInput placeholder="Last Name" value={{user.lastName}} readonly></mat-form-field>
            <mat-form-field><input matInput placeholder="Email" value={{user.email}} readonly></mat-form-field>
            <mat-form-field><input matInput placeholder="Phone Number" value={{user.phone}} readonly></mat-form-field>
        </div>
        <div class="col-md-6 col-sm-7 d-flex flex-column">
            <mat-form-field><input matInput placeholder="Date of Birth" value={{user.dob|date}} readonly></mat-form-field>
            <mat-form-field><input matInput placeholder="Gender" value={{user.gender|titlecase}} readonly></mat-form-field>
            <mat-form-field><input matInput placeholder="Address" value={{user.address}} readonly></mat-form-field>
        </div>
    </form>

    <!-- CHANGE PASSWORD -->
    <div class="text-primary mt-2 mb-2" (click)="setChangePwd()">Change Password</div>
    <div *ngIf="changePwd">
        <form [formGroup]="passwordForm" class="row col-md-6 col-sm-7 d-flex flex-column">
            <mat-form-field><input matInput placeholder="Current Password" formControlName="currentPwd" required autofocus>
            </mat-form-field>
            <mat-form-field><input matInput placeholder="New Password" formControlName="changedPwd" required></mat-form-field>
        </form>
        <div class="col-md-6 col-sm-7">
            <button type="submit" class="row btn btn-light cancel-btn" (click)="cancel()">Cancel</button>
            <button type="submit" class="btn primary-color pull-right" [disabled]="!passwordForm.valid" (click)="saveit()">Save</button>
        </div>
    </div><br>

    <!-- UPLOAD FILE -->
    <div class="container" style="border-style:dashed; border-color: #eff5f5;">
        <div class="row m-0 p-3">
            <div class="col-md-4 col-sm-6" *ngFor="let doc of docs">
                <div class="thumbnail mb-3">
                    <div class="row">
                        <div class="row col-lg-8 col-md-8 col-sm-8 caption">
                            <a href="{{doc.path}}" class="text-dark" target="_blank">{{doc.name}}</a>
                        </div>
                        <div class="row col-lg-4 col-md-4 col-sm-4 pull-right mt-1">
                            <i class="fa fa-icon fa-trash-o fa-lg" data-toggle="modal" data-target="#confirmDelete" aria-hidden="true" title="Delete"></i>
                        </div>
                    </div>
                    <img class="row mt-2" src="{{doc.path}}" alt="Sorry, Image not loaded">
                </div>
            </div>
        </div>
        <div class="col m-0 text-center pb-4">
            <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
            <button type="button" class="btn primary-color" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
        Upload Your File
      </button>
        </div>
    </div>

</div>

<div *ngIf="deleteDoc" class="modal fade" id="confirmDelete" #status role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-confirmDelete">
            <div class="modal-header">
                <div class="col popup-heading">Confirm Delete</div>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 col-md-12 col-sm-12 d-flex flex-column">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">Are you sure you want to delete?</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger" (click)="deleteDoc(doc._id)" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>