<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-none breadcrumb-style">
                <li class="breadcrumb-item"><a class="breadcrumb-back" (click)="cancel()">Hospitals</a></li>
                <li class="breadcrumb-item active" aria-current="page"> {{hospital.name}}'s Point of Contacts </li>
            </ol>
        </nav>
        <div class="col text-right">
            <button type="submit" class="btn btn-light mt-1" (click)="addHospPoC()">
                <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add
            </button>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-12"><span class="h6">Location </span>: {{hospital.location}}</div>
        <div class="col-12"><span class="h6">Specialization </span>: {{hospital.specialization}}</div>
        <div class="col-12"><span class="h6">Complete Address</span> : {{hospital.address}}</div>
    </div> -->

    <ng-container *ngIf="dataSource.data.length > 0">
        <mat-form-field class="mt2">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" matSortActive="firstName" matSortDirection="asc" matSortDisableClear>
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let poc"> {{poc.firstName}} {{poc.lastName}} </td>
                </ng-container>
                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
                    <td mat-cell *matCellDef="let poc"> {{poc.phone}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                    <td mat-cell *matCellDef="let poc"> {{poc.email}} </td>
                </ng-container>
                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
                    <td mat-cell *matCellDef="let poc"> {{poc.address}} </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let poc">
                        <i class="fa fa-pencil pr-3" (click)="editPoc(poc,poc._id)"></i>
                        <i class="fa fa-trash-o" data-toggle="modal" data-target="#confirmDelete" (click)="setDeletePocId(poc._id)"></i>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let poc; columns: displayedColumns;">
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
        </div>

    </ng-container>
    <ng-container *ngIf="dataSource.data.length <= 0">
        Sorry, no data found. <a class="clickHere" (click)="addHospPoC()">Click here</a> to add.
    </ng-container>
</div>

<div *ngIf="deletePocId" class="modal fade" id="confirmDelete" #status role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-confirmDelete">
            <div class="modal-header">
                <div class="col popup-heading">Confirm Delete</div>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 col-md-12 col-sm-12 d-flex flex-column">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">Are you sure you want to delete?</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger" (click)="deletePoc(deletePocId)" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>