<div class="container pt-5">
    <div class="text-right pb-3">
        <button type="button" class="btn primary-color" data-toggle="modal" data-target="#contactModal">
            <i class="fa fa-plus pr-1" aria-hidden="true"></i>Contact Us</button>
    </div>
</div>
<!-- <app-contact-history></app-contact-history> -->

<div class="modal" id="contactModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col popup-heading">Contact Us</div>
            </div>
            <div class="modal-body">
                <form [formGroup]="contactForm" class="col-lg-12 col-md-12 col-sm-12 d-flex flex-column p-3" autocomplete="off">
                    <mat-form-field *ngIf="userrole == 'employee'">
                        <mat-label>Users</mat-label>
                        <mat-select required formControlName="user">
                            <mat-option *ngFor="let user of users" [value]="user._id">
                                {{user.firstName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Regarding</mat-label>
                        <mat-select required formControlName="regarding" required>
                            <mat-option value="Package">Package</mat-option>
                            <mat-option value="Claim">Claim</mat-option>
                            <mat-option value="Docs">Docs</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field> <textarea matInput placeholder="Leave a comment" required formControlName="description"></textarea></mat-form-field>
                    <mat-radio-group class="text-left" aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="notifyOption" *ngIf="userrole=='poc'">
                        <mat-radio-button class="example-radio-button" *ngFor="let opt of options" [value]="opt">
                            {{opt}}
                        </mat-radio-button>
                    </mat-radio-group>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light cancel-btn" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn primary-color float-left" [disabled]="!contactForm.valid" (click)="addContact()">Submit</button>
            </div>
        </div>
    </div>
</div>