/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #C30953 !important;
}

.mat-focused .mat-form-field-label {
    color: #C30953 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #C30953 !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #C30953 !important;
}

.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #C30953 !important;
}

.cdk-overlay-container {
    z-index: 1127 !important;
}

.primary-color {
    background-color: #C30953 !important;
    color: white !important;
    border: none !important;
    padding: 5px 15px 5px 15px !important;
}

.cancel-btn {
    padding: 5px 15px 5px 15px !important;
}


/* TABLES */

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}


/* td,
th {
    width: 25%;
} */


/* BREADCRUMB STYLES */

.breadcrumb-back {
    cursor: pointer !important;
    color: #C30953 !important;
}

.bg-none {
    background: none !important;
}

.breadcrumb-style {
    font-size: 18px !important;
    font-weight: 600 !important;
}

.fa-icon {
    font-size: 15px !important;
    color: #C30953 !important;
    cursor: pointer !important;
    margin-top: 15px !important;
}

.popup-heading {
    color: #6c757d !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}


/* STATUS */

.status-good {
    color: green;
}

.status-warn {
    color: orange;
}

.status-bad {
    color: red;
}

.card-good {
    background-color: #2CD482;
}

.card-warn {
    background-color: #5FCAE0;
}

.card-bad {
    background-color: #E24332;
}

.icon-disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.3;
}

.icon-enabled :hover {
    color: #C30953;
}

body {
    padding-top: 3.5rem;
    /* background-image: url("./assets/images/background001.jpeg");
    background-repeat: no-repeat; */
}


/* #confirmDelete {
    position: absolute;
    top: 50% !important;
    transform: translate(0, -50%) !important;
    -ms-transform: translate(0, -50%) !important;
    -webkit-transform: translate(0, -50%) !important;
    margin: auto 5%;
    width: 90%;
    height: 50%;
} */

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-confirmDelete {
    width: 130% !important;
    right: 15% !important;
}

.clickHere {
    color: #C30953 !important;
    cursor: pointer;
}

.clickHere:hover {
    text-decoration: underline !important;
}

.dropdown-tooltip {
    font-size: small;
    max-width: 300px;
    /* min-height: 100px; */
}

.mat-card {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.cardHeading {
    background-color: #C30953;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    color: white;
}

.cardStatus {
    background-color: #F2F2F2;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    font-size: small;
    float: right;
}

.cardHover:hover {
    /* background-color: #f2f2f2; */
    box-shadow: 2px 2px 3px 3px lightgray;
    border-left: 3px solid #C30953;
}

.lbl-view-text {
    font-size: 11px;
    text-transform: uppercase;
}

.lbl-view-value {
    font-size: 14px;
}