/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #C30953 !important;
  }
  .mat-focused .mat-form-field-label {
    color: #C30953 !important;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #C30953 !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: #C30953 !important;
}
.mat-tab-group.mat-primary .mat-ink-bar{
  background-color: #C30953 !important;
}
.cdk-overlay-container {
  z-index:1127 !important;
  }

.primary-color {
  background-color: #C30953 !important;
  color: white !important;
  border: none !important;
}

  /* BREADCRUMB STYLES */

  .breadcrumb-style {
    cursor: pointer !important; 
    color:#007bff !important;
  }

  .bg-none {
    background: none !important;
  }

  .f-18 {
    font-size: 18px !important;
  }

  .fw-600 {
    font-weight: 600 !important;
  }
