<div class="container pt-5">
    <div class="col text-right">
        <button type="submit" class="btn btn-light mt-1" (click)="addDoctorVisit()">
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add
        </button>
    </div>
    <ng-container *ngIf="dataSource.data.length > 0">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="hospital">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hospital </th>
                    <td mat-cell *matCellDef="let doctorVisits"> {{doctorVisits.hospital}} </td>
                </ng-container>
                <ng-container matColumnDef="purpose">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Purpose </th>
                    <td mat-cell *matCellDef="let doctorVisits"> {{doctorVisits.purpose}} </td>
                </ng-container>
                <ng-container matColumnDef="dateOfVisit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of Visit </th>
                    <td mat-cell *matCellDef="let doctorVisits"> {{doctorVisits.dateOfVisit | date}} </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let doctorVisits" (click)="$event.stopPropagation()">
                        <i class="fa fa-pencil pr-3" (click)="editDoctorVisit(doctorVisits,doctorVisits._id)"></i>
                        <i class="fa fa-trash-o" (click)="deleteDoctorVisit(doctorVisits._id)"></i>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let doctorVisits; columns: displayedColumns;">
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </ng-container>
    <ng-container *ngIf="dataSource.data.length <= 0">
        Sorry, no data found. <a class="clickHere" (click)="addDoctorVisit()">Click here</a> to add.
    </ng-container>
</div>