<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-none breadcrumb-style">
                <li class="breadcrumb-item active" aria-current="page">My Packages </li>
            </ol>
        </nav>
        <div class="col font-weight-bold text-right">
            <i class="fa fa-plus fa-icon pr-1" (click)="addUserPackage()" aria-hidden="true"></i>
        </div>
    </div>

    <!-- <ng-container *ngIf="dataSource.data.length > 0"> -->
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" matSortActive="activeTo" matSortDirection="desc" matSortDisableClear>
            <ng-container matColumnDef="package">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Package </th>
                <td mat-cell *matCellDef="let package"> {{package.packageName}} </td>
            </ng-container>
            <ng-container matColumnDef="insurer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Insurance Company </th>
                <td mat-cell *matCellDef="let package"> {{package.insurerName}} </td>
            </ng-container>
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                <td mat-cell *matCellDef="let package"> {{package.categoryName}} </td>
            </ng-container>
            <ng-container matColumnDef="activeFrom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Active From</th>
                <td mat-cell *matCellDef="let package"> {{package.activeFrom | date}} </td>
            </ng-container>
            <ng-container matColumnDef="activeTo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Active To</th>
                <td mat-cell *matCellDef="let package"> {{package.activeTo | date}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let package">
                    <span *ngIf="currentDate <= package.activeTo" class="status-good"> Active </span>
                    <span *ngIf="currentDate > package.activeTo" class="status-bad"> Expired </span>
                </td>
            </ng-container>
            <!-- <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Validity</th>
                <td mat-cell *matCellDef="let package">
                    <span *ngIf="currentDate <= package.activeTo"> {{package.activeFrom | date}} to {{package.activeTo | date}} </span>
                    <span *ngIf="currentDate > package.activeTo" class="status-bad"> Expired on {{package.activeTo | date}}  </span>
                </td>
            </ng-container> -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let package">
                    <!-- <i class="fa fa-pencil pr-3" (click)="editPackage(package,package._id)"></i>
                    <i class="fa fa-trash-o" (click)="deletePackage(package._id)"></i> -->
                    <span *ngIf="currentDate > package.activeTo; else enabled" class="icon-disabled">
                        <i class="fa fa-pencil pr-3 "></i>
                        <i class="fa fa-trash-o pr-3 "></i>
                    </span>
                    <ng-template #enabled>
                        <i class="fa fa-pencil pr-3 " (click)="editPackage(package,package._id)"></i>
                        <i class="fa fa-trash-o pr-3" data-toggle="modal" data-target="#confirmDelete" (click)="setDeletePackage(package._id) "></i>
                    </ng-template>
                    <i class="fa fa-eye" (click)="getRecord(package) "></i>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let package; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
    </div>
    <!-- </ng-container>
    <ng-container *ngIf="dataSource.data.length <= 0">
        Sorry, no data found. <a class="clickHere" (click)="addUserPackage()">Click here</a> to add.
    </ng-container> -->
</div>

<div *ngIf="deletePackageId" class="modal fade" id="confirmDelete" #status role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-confirmDelete">
            <div class="modal-header">
                <div class="col popup-heading">Confirm Delete</div>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 col-md-12 col-sm-12 d-flex flex-column">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">Are you sure you want to delete?</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger" (click)="deletePackage(deletePackageId)" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>