<div class="container pt-3">
        <div class="row">
                <div class="col h5">{{action|titlecase}} Hospital</div>
                <div class="col font-weight-bold text-right">
                        <i class="fa fa-reply" (click)="cancel()"></i>
                </div>
        </div>

        <form class="row pt-4" [formGroup]="hospForm" autocomplete="off">
                <div class="col-md-6 col-sm-7 d-flex flex-column">
                        <mat-form-field><input matInput placeholder="Hospital Name" formControlName="name" required></mat-form-field>
                        <mat-form-field><input matInput placeholder="Specialization" formControlName="specialization"required></mat-form-field>
                </div>
                <div class="col-md-6 col-sm-7 d-flex flex-column">
                        <mat-form-field><input matInput placeholder="Location/City" formControlName="location" required></mat-form-field>
                        <mat-form-field><input matInput placeholder="Complete Address" formControlName="address" required></mat-form-field>
                </div>
                <hr>
                <div class="col-md-6 col-sm-7 d-flex flex-column">
                        <div formArrayName="pointOfContact">
                                <div *ngFor="let poc of hospForm.controls.pointOfContact.controls;let i = index">
                                        <div>
                                                <span>Point of contact {{i+1}}</span>
                                                <span *ngIf="hospForm.controls.pointOfContact.controls.length > 1"
                                                        (click)="removePoC(i)" class="float-right">
                                                        <i class="fa fa-trash-o"></i>
                                                </span>
                                                <hr>
                                        </div>
                                        <div [formGroupName]="i" class="d-flex flex-column">
                                                <mat-form-field><input matInput placeholder="Name"
                                                                formControlName="name" required></mat-form-field>
                                                <mat-form-field><input matInput placeholder="Phone"
                                                                formControlName="phone" required></mat-form-field>
                                        </div>
                                </div>
                        </div>
                        <div>
                                <button class="row btn btn-light float-right" (click)="addPoC()">Add another point of Contact</button>
                        </div>
                </div>
        </form>

        <div *ngIf="!verify" class="pull-right">
                <button type="submit" class="row btn btn-light mr-3" (click)="cancel()">Cancel</button>
                <button type="submit" class="btn btn-dark " [disabled]="!hospForm.valid"
                        (click)="save(hospForm,hosp._id)">Save</button>
        </div>
</div>